* {
    box-sizing: border-box;
}

.weather-icon {
    width: 40px;
}

.forecast-card {
    background-color: #3150e9;
    color: white;
}



.history-button {
    text-transform: capitalize;
}

.today-heading {
    text-transform: capitalize;
}

.history-button {
    border: none;
    border: 1px groove black;
    border-radius: 5px;
}
